name: Build
on: [pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        image:
          - odin-unstable
          - juno-stable
          - juno-stable-installer
          - juno-unstable
          - juno-unstable-installer
          - loki-stable
          - loki-unstable
          - stable
          - stable-installer
          - unstable
          - unstable-installer
          - latest

    name: ${{ matrix.image }}
    runs-on: ubuntu-latest

    steps:
    - name: Clone
      uses: actions/checkout@v2

    - name: Lint Image
      uses: brpaz/hadolint-action@v1.2.1
      with:
        dockerfile: ${{ matrix.image }}/Dockerfile

    - name: Build Docker Image
      run: |
        docker build -t "${{ matrix.image }}" -f "${{ matrix.image }}/Dockerfile" .
